<% @visitor_class = "visitor" %>

<div class="container-fluid visitor">
	<div class="row">
		<div class="banner">
      <div class="col-md-8">      
  		  <h1 class="text-left h0">Who Paid?</h1>
  		  <h1 class="text-left">Keep track of everyone's payments for all of your activities.</h1>
      </div>
      <div class="col-md-2 pull-right">        
        <% if user_signed_in? %>
          <h3><%= link_to 'Events', :events, class: 'banner links' %> / <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'banner links' %></h3>
        <% else %>         
          <h3><%= link_to 'Log in', new_user_session_path, class: 'banner links' %> / <%= link_to 'Sign up', new_user_registration_path, class: 'banner links' %></h3>
        <% end %>         
        </div>
      </div>
		</div>
  </div>
</div>

<div class="container">			  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default visitor">
        <div class="panel-heading"><h2>Hello. Did your recent trip include...</h2></div>
        <div class="panel-body">
        	<h4>Two familes,</h4>
        	<h4>three extra guests,</h4> 
        	<h4>a dinner in,</h4> 
        	<h4>a dinner out,</h4>
        	<h4>a shuttle from the airport...</h4>
        	<p class="lead">And no idea who paid for what?</p>
        	</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default visitor">

        <div class="panel-heading"><h2>We can make it easier</h2></div>
        <div class="panel-body">
          <div class="row vertical-align">
        	  <p class="col-md-8 h3">Join Who Paid...it's free</p>
            <p class="col-md-4 h4 text-right"><%= link_to "Learn more", learn_more_path %></p>
          </div>
          <div class="row">
            <div class="h3 col-md-12 text-center">Sign up!</div>
          </div> 
        	<%= render 'form' %>
        </div>          
      </div>
    </div>
  </div>
</div>