<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div class="container">

			<h1><%= @event.name %></h1>
			<h2>Statement for <%= @account.name %></h2>
			<br>
			<h3>
				<% if @account.owes? %>
					<%= @account.name %> <b>OWES</b> <%= number_to_currency(-@account.balance) %>
				<% else %>
					<%= @account.name %> <b>IS OWED</b> <%= number_to_currency(@account.balance) %>
				<% end %>
			</h3>
			<br>

			<%= render partial: 'statement_transactions_email' %>
		</div>

	</body>
</html>
