<!-- for larger formats... -->

	<table class="table">
		<thead>
			<tr class="flattened">
				<th class="col-md-2"></th>
				<th class="col-md-5">User</th>
				<th class="col-md-3">Default Share</th>
				<th class="col-md-2">Balance</th>
			</tr>
		</thead>
		<tbody>
			<% participants.each do |participant| %>
				<tr class="flattened">
					<td>
						<%= link_to event_account_statement_path(@event, participant.account), title: "Statement for #{participant.display_name}" do %>
							<i class="fa fa-file-text"></i>
						<% end %>
						<%= link_to edit_user_path(participant), title: "Edit #{participant.display_name}" do %>
							<i class="fa fa-edit"></i>
						<% end %>
						<%= link_to event_user_memberships_destroy_path(@event.id, participant.id), title: "Remove from #{@event.name}" do %>
							<i class="fa fa-trash"></i>
						<% end %>
					</td>
					<td><%= participant.display_name %></td>
					<td><%= participant.account.default_method %>: <%= participant.account.default_share %></td>
					<td class="text-right"><%= number_to_currency(@event.user_balance(participant)) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
