<div class="panel-group" id="to_accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="account_from_heading">
      <div class="panel-title">
        <div class="form-group">
          <%= f.label :user_to, "To", class: 'small text-muted' %>
          <%= f.collection_select :to_user_id, current_user.all_friends, :id, :display_name, {selected: @event_payment.non_blank_payee_account, include_blank: true}, {class: "account-selector form-control input-sm"} %>        
        </div>
        <div class="form-group">
          <%= link_to "New User", '#', onclick: 'toggle_new_user("to");', class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>

    <div id="new_guest_to", class="panel-collapse collapse" role="tabpanel" aria-labelledby="account_from_heading">
      <div class="panel-body">
        <div class="form-group">
          <%= label_tag 'first_name', nil, class: 'sr-only' %>
          <%= text_field_tag 'user_to[first_name]', nil, placeholder: "First name", class: 'form-control input-sm' %>
        </div>
        <div class="form-group">
          <%= label_tag 'last_name', nil, class: 'sr-only' %>
          <%= text_field_tag 'user_to[last_name]', nil, placeholder: "Last name",  class: 'form-control input-sm' %>
        </div>
        <div class="form-group">
          <%= label_tag 'email', nil, class: 'sr-only' %>
          <%= text_field_tag 'user_to[email]', nil, { placeholder: "Email (optional)",  class: 'form-control input-sm', onchange: 'set_hidden_field("account_to_type", "new_user_email");' } %>
        </div>
      </div>
    </div>

  </div>
</div>