<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><%= @title %></h4>
  </div>

  <div class="panel-body">
    <%= form_for [@event, @payment] do |f| %>

      <%= render 'layouts/errors', index: f.object %>

      <div class="form-group">
        <%= f.label "Amount", class: 'sr-only' %>
        <%= f.text_field :amount, class: "form-control input-sm", placeholder: "Amount..." %>
      </div>

      <div class="form-group">
        <%= f.label "On", class: 'sr-only' %>
        <%= f.text_field :payment_date, 'data-provide'=>'datepicker', :class => "form-control input-sm datepicker", placeholder: "Paid on..." %>
      </div>

      <%= hidden_field_tag "is_new_user_from", true, id: "is_new_user_from" %>
      <%= hidden_field_tag "is_new_user_to", true, id: "is_new_user_to" %>
      <%= hidden_field_tag "account_to_index", 0, id: "account_to_index" %>

      <!-- To allow js to decide to show the account_to user form, event form, or neither -->
      <%= content_tag "div", id: "to_source", data: { type: @payment.new_record? ? "None" : @payment.payee_account.source_type} do %>
      <% end %> 

      <%= render partial: 'events/payment_from', locals: { f: f } %>

      <%= render partial: 'events/payment_to', locals: { f: f } %>
        
      <div class="form-group">
        <%= f.submit 'Submit', :class => 'btn btn-primary btn-sm' %>
        <% if ["create", "edit"].include? controller.action_name %>
          <%= link_to 'Cancel', event_path(@payment.event), :class => 'btn btn-primary btn-sm' %>
        <% end %>
      </div>



    <% end %>
  </div>
</div>
