  <%= form_for [@payment] do |f| %>
    <%= render 'layouts/errors', index: @event_payment %>

    <%= hidden_field_tag "is_new_user_from", false, id: "is_new_user_from" %>
    <%= hidden_field_tag "is_new_user_to", false, id: "is_new_user_to" %>

    <div class="form-group">
      <%= f.label "Amount", class: 'sr-only' %>
      <%= f.text_field :amount, 
        class: "form-control input-sm", 
        placeholder: "Amount..." %>
    </div>

    <div class="form-group">
      <%= f.label "On", class: 'sr-only' %>
      <%= f.text_field :payment_date, 'data-provide'=>'datepicker', 
        :class => "form-control input-sm datepicker", 
        placeholder: "Paid on..." %>
    </div>

    <div class="form-group">
      <%= f.label :account_from, class: 'sr-only' %>
      <%= f.collection_select :account_from, Account.current_event(@current_event), :id, :account_name, 
        {include_blank: "<New User>"}, 
        {class: "account-selector form-control input-sm"} %>        
    </div>

    <div class="form-group">
      <%= f.label :account_to, class: 'sr-only' %>
      <%= f.collection_select :account_to, Account.current_event(@current_event), :id, :account_name, 
        {include_blank: "<New User>"}, 
        {class: "account-selector form-control input-sm", onchange: 'new_user_to();'} %>        
    </div>

    <div class="form-group">
      <%= f.label "For", class: 'sr-only' %>
      <%= f.text_field :for, class: "form-control input-sm", placeholder: "For..." %>
    </div>

    <div class="form-group">
      <%= f.submit 'Submit', :class => 'btn btn-primary btn-sm' %>
      <%= link_to 'Cancel', event_path(@event), class: 'btn btn-default btn-sm' %>
    </div>

  <% end %>
