<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Who Paid v04" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Who Paid V04" %>">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= render 'layouts/fonts' %>
		<%= csrf_meta_tags %>
	</head>

	<% if @visitor_class == "visitor" %>
		<%= render "layouts/unsecure_body" %>
	<% else %>
		<%= render "layouts/secure_body" %>
	<% end %>

	<div id="footer">
	  <div class="container-fluid">
	    <small class="hidden-print">Icons by <%= link_to "Glyphicons", 'http://glyphicons.com' %></small>
	  </div>
	</div>

</html>
