<table class="table table-responsive table-condensed">
	<thead>
		<tr>
			<th class="col-md-1">Date</th>
			<th class="col-md-1">Event</th>
			<th class="col-md-1 hidden-print">Type</th>
			<th class="col-md-1">For</th>
			<th class="col-md-1">From</th>
			<th class="col-md-1">To</th>
			<th class="col-md-1 text-right">Amount</th>
			<th class="col-md-1 text-right">Share</th>
			<th class="col-md-1 text-right">Debit</th>
			<th class="col-md-1 text-right">Credit</th>
			<th class="col-md-1 text-right">Balance</th>
		</tr>
	</thead>
	<tbody>
		<% running_balance = 0 %>
		<% @transactions.each do |t| %>
			<tr>
				<td><%= browser_date(t.occurred_on || t.created_at) %></td>
				<td><%= t.event.name %></td>
				<td class="hidden-print"><%= t.entry_type %></td>
				<td><%= t.source.for %></td>
				<td><%= t.source.payer_account.name %></td>
				<td><%= t.source.payee_account.name %></td>
				<td class="text-right"><%= number_to_currency(t.source.amount) %></td>
				<td class="text-right"><%= number_to_percentage(t.allocation_factor * 100, precision: 1) if t.entry_type == "allocation" %></td>
				<td class="text-right"><%= number_to_currency(t.debit) %></td>
				<td class="text-right"><%= number_to_currency(t.credit) %></td>
				<% running_balance = running_balance + (t.credit || 0) - (t.debit || 0) %>
				<% if running_balance < 0 %>
					<td class="text-right"><%= number_to_currency(-running_balance).to_s %></td>
				<% else %>
					<td class="text-right"><%= number_to_currency(running_balance).to_s %> credit</td>
				<% end %>
			</tr>
		<% end %>		
	</tbody>
</table>

<div class="panel panel-default">
	<% if running_balance < 0 %>
		<div class="panel-body summary-row debit-balance">
			<div class="h4 col-xs-6">Current Balance</div>
			<div class="h4 text-right col-md-6"><%= number_to_currency(-running_balance) %></div>
		</div>
	<% else %>
		<div class="panel-body summary-row credit-balance">
			<div class="h4 col-xs-6">Current Balance</div>
			<div class="h4 text-right credit-balance col-md-6"><%= number_to_currency(running_balance).to_s + " (Credit Balance)" %></div>
		</div>
	<% end %>
</div>


