<div class="container">

	<h1 class="visible-print-block statement"><%= @event.name if controller_name == "events" %></h1>
	<h3>Statement for <%= @account.name %></h3>
	<h4>
		<% if @account.owes? %>
			Owes <%= number_to_currency(-@account.balance) %>
		<% else %>
			Is Owed <%= number_to_currency(@account.balance) %>
		<% end %>
	</h4>

	<div class="row">
		<div class="col-md-6 bottom-space-10">
			<%= link_to '#', onclick: 'window.print();return false;', class: 'hidden-print', title: "Print statment" do %>
				<i class="fa fa-print"></i>
			<% end %>
		</div>
	</div>
	<%= render partial: 'statement_transactions' %>
</div>
